/* body{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 200;
    background-color:rgb(255, 255, 255);
    color:black;
    /* background-image: linear-gradient(315deg, aqua 0%, purple 74%);
}*/
#container-header {
  height: 100px;
}

#typing-header {
  margin-top: 10px;
}

#typing-text {
  color: #09ad94;
}

a: link {
  color: green !important;
  background-color: transparent;
  text-decoration: none;
}

.circle-headshot {
  border: 2px solid gray;
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50%;
}

#landing_image {
  border: 2px solid blue;
  width: 100%;
  height: 100%;
}

/* SCHEDULE */
.container_tl {
  padding: 2rem;
  padding-bottom: 0px;
  margin: 0 auto;
  max-width: 1000px;
}

.top {
  text-align: center;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.tl {
  position: relative;
  min-height: 100px;
}

.line {
  position: absolute;
  z-index: 2;
  /* left: calc(49.85%); */
  width: 2px;
  top: -10px;
  bottom: -10px;
  background-color: #000;
  display: none;
}

.line:before,
.line:after {
  position: absolute;
  display: block;
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
}

.line:after {
  bottom: 0;
}

.section {
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 500ms ease;
  position: relative;
  z-index: 1;
  margin: 50px 0;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  min-height: 300px;
}

.section:nth-child(odd) {
  flex-direction: row-reverse;
  transform: translateX(100%);
}

.bead {
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: black;
  left: 0%;
  top: 20%;
  transform: translateX(-50%);
}

/* position: absolute;
display: block;
content: '';
height: 1rem;
width: 1rem;
border-radius: 50%;
background-color: black;
left: 50%;
transform: translateX(-50%); */
.content {
  width: calc(50%-2rem);
}

.show-me:nth-child(n) {
  transform: none;
  opacity: 1;
}

.speaker-img {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  min-height: 240px;
}
